[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/argtextobj"]
	path = bundle/argtextobj
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/indentobj"]
	path = bundle/indentobj
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/grep-vim"]
	path = bundle/grep-vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/a-vim"]
	path = bundle/a-vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/autoload-cscope"]
	path = bundle/autoload-cscope
	url = git://github.com/vim-scripts/autoload_cscope.vim.git
